.index-container {
  max-width: 30em;
  margin: 0 auto;
}

.about {
  margin-top: 1em;
  align-items: center;
  margin-bottom: 5em;
  display: flex;
  flex-flow: column;
  gap: 2em;
  align-items: flex-start;
}

.about-title {
  h1,
  h2,
  h3 {
    font-family: 'Playfair Display', serif;
  }

  & h2 {
    font-size: clamp(ms(3), 4vw + 1rem, ms(5));
    margin: 0;
    margin-top: 0em;

    @include mq($from: desktop) {
      line-height: 0.3;
    }
  }

  & h3 {
    font-size: clamp(ms(1), 4vw + 1rem, ms(3));
    color: palette(gray, 50);
    font-style: italic;
    font-weight: lighter;
    font-size: 2em;
  }
}

.about-description {
  & > p {
    max-width: 25em;
    font-size: clamp(ms(0), 1vw + 1rem, ms(1));
  }
}

.highlighter {
  color: palette(red, 50);
}
