.header {
  position: sticky;
  order: 0;
  top: 0;
  z-index: 10;
  background-color: palette(blue, 90);
}
.header-wrapper {
  max-width: 30em;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  flex-flow: column;

  @include mq($from: desktop) {
    flex-flow: row;
  }

  & > nav {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;

    @include mq($from: desktop) {
      flex-flow: row;
      width: auto;
    }
  }

  & > nav > a {
    text-decoration: none;
    color: $white-color;
    padding: 1em;
    width: 100%;
    text-align: center;

    @include mq($from: desktop) {
      width: auto;
    }

    &:hover {
      background: none;
      color: palette(red, 50);
      text-decoration: overline;
    }
  }
}

a:has(svg) {
  &:hover {
    path {
      fill: palette(red, 50);
    }
    background: none;
  }
}

.brand {
  margin: 0;
  margin-top: 1em;
  line-height: 0;
  font-size: clamp(ms(1), 1vw + 1rem, ms(1));

  a {
    line-height: 0;
    margin-left: 0.5em;
  }
  & svg {
    width: 1.5em;
    height: 100%;
  }
}
