.projects-summary {
  h2 {
    color: palette(blue, 1);
  }
}

.projects-summary-list {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 2em;
  flex-flow: column;

  & li:nth-child(even) > .project-summary-screen {
    order: 2;
  }
}

.project-summary-item {
  border-bottom: 1px solid palette(gray, 10);
  padding: 0.5em;
  display: flex;
  align-items: center;
  flex-flow: column;

  &:last-of-type {
    border: none;
  }

  @include mq($from: desktop) {
    flex-flow: row;
    gap: 2em;
  }

  & > * {
    flex: 1;
  }
}

.project-summary-screen {
  & figure {
    margin: 0;
    padding: 0;
  }
}

.project-summary-details {
  padding: 1em;

  & h4 {
    margin: 0;
    padding: 0;
  }

  & a {
    text-decoration: none;
    color: palette(red, 50);

    &:hover {
      color: $white-color;
    }
  }
}
