---
import Main from '../../layouts/main-layout.astro'
import Colours from '../../components/system/system-colors.astro'
---

<Main title="Zayez's website - Design System" description="Home page">
  <h2>Design System</h2>

  <Colours />

</Main>