.blog-container {
  max-width: 30em;
  margin: 0 auto;
}

.blog-posts {
  display: flex;
  flex-flow: row;
}

.blog-posts-list {
  list-style: none;
  margin: 0;
}

.blog-container {
  min-height: 75vh;
}

.post-card {
  padding-block: 0;
}

.published-at {
  color: palette(gray, 40);
  padding-block: 0;
}

.giscus-container {
  margin-bottom: 5rem;
}
