@import '../base/base.scss';
@import '../components/system-colors.scss';
@import '../components/footer.scss';
@import '../components/header.scss';
@import '../components/about.scss';
@import '../components/projects-summary.scss';
@import './blog.scss';
@import '../components/article.scss';

.main-container {
  max-width: $main-container-width;
  margin: 0 auto;
  padding: 0 2rem;
}

.index-container {
  display: flex;
  margin-bottom: 12em;
  gap: 2em;
  flex-flow: column;

  & > * {
    width: 100%;
  }
}
