---
import BlogLayout from "../layouts/blog-layout.astro";
import Card from '../components/card.astro'
const posts = await Astro.glob("../pages/posts/**/*.mdx");
---
<BlogLayout title="Blog">
  <section class="">
    <div class="container">
      <ul class="blog-posts-list">
        {
          posts.map((post) => (
            <li>
              <Card
                url={"/posts/" + post.frontmatter.slug}
                image={post.frontmatter.image}
                title={post.frontmatter.title}
                footer={post.frontmatter.author}
              >
                {post.frontmatter.description}
              </Card>
            </li>
          ))
        }
      </ul>
    </div>
  </section>
</BlogLayout>
