---
import About from '../components/index/about.astro'
import ProjectsOverview from '../components/index/projects-summary.astro'
import Main from '../layouts/main-layout.astro'
---

<Main title="Zayez's website" description="Home page">
  <div class="index-container">
    <About />
    <hr/>
    <ProjectsOverview />
  </div>
</Main>