---
const {title, author, image, pubDate,  } = Astro.props
---
<article class="article-container">
  <div class="article-head">
    <h1 class="title">{title}</h1>
    <em>Written by: {author}</em>
  </div>
  <div class="article-body">
    <div>
    {image && <img width={720} height={360} src={image} alt="" />}
    </div>
    <p>Published on: {pubDate && <time>{pubDate}</time>}</p>

    <hr />
    <slot />
  </div>
</article>