---
const { title, image } = Astro.props
---
<article class="article-container">
  <div class="article-head">
    <h1 class="title">{title}</h1>
  </div>
  <div class="article-body">
    <div>
    {image && <img width={720} height={360} src={image} alt="" />}
    </div>

    <slot />
  </div>
</article>