<section class="about">
  <div class="about-title">
    <p class="hello"><span class="highlighter">Hello! I am,</span></p>
    <h2>Enio E. Zanatta.</h2>
    <h3>A web codewriter.</h3>
  </div>
  <div class="about-description">
    <p>I&#x2019;m a <span class="highlighter">front&ndash;end developer</span> with UI&#x2f;UX design skills based in Brazil. </p>
    <p>Currently working with React, TypeScript and styled&ndash;components for developing web applications.</p>
  </div>

</section>