<section class="about">
  <p class="hello"><span class="highlighter">Hello! I am,</span></p>
  <h2>A code writer.</h2>
  <p>I am a <span class="highlighter">front-end developer</span> with UI/UX design skills based in Brazil. </p>
  <p>Currently working with React, TypeScript and styled-components for developing web applications.</p>
</section>