---
const today = new Date();
---
<footer class="footer">
    <p>Built using Astro. Hosted by Github Pages.</p>
    <small> Copyright &copy; {today.getFullYear()} &mdash; Enio E. Zanatta </small>
</footer>
