---
// import { Image } from 'astro:assets';

// import logoSvg from '../../assets/zayez-logo.svg';
// const logo = {
//   src: logoSvg,
//   alt: "Zayez's logo"
// }
import svg from '../../assets/zayez-logo.svg?raw';
---
<header class="header">
  <div class="header-wrapper">
  <h1 class="brand"><a href="/" aria-label="Home"><Fragment set:html={svg} /></a></h1>
  <nav class="header-nav">
    <a aria-label="Home page" href="/">Home</a>
    <a aria-label="My blog" href="/blog">Blog</a>
  </nav>
  </div>
</header>
