---
// import { Image } from 'astro:assets';

// import logoSvg from '../../assets/zayez-logo.svg';
// const logo = {
//   src: logoSvg,
//   alt: "Zayez's logo"
// }
import svg from '../../assets/zayez-logo.svg?raw';
---
<header class="header">
  <h1 class="brand"><a href="/" aria-label="Home"><Fragment set:html={svg} /></a></h1>
  <!-- <h1 class="brand"><a aria-label="Home page" href="/">  <Image src={logo.src} format="svg" alt={logo.alt} color={'#000'} loading="lazy" /></a></h1> -->
  <nav class="header-nav">
    <a aria-label="Home page" href="/">Home</a>
    <a aria-label="My blog" href="/blog">Blog</a>
  </nav>
</header>
