---
import BaseHead from "../components/base-head.astro";
import Footer from "../components/index/footer.astro";
import Header from "../components/index/header.astro";
const { title, description } = Astro.props;
import '../styles/pages/main.scss';
---
<!DOCTYPE html>
<html lang="en">
  <BaseHead title={title} description={description} />
  <body>
    <main class="main-container">
      <Header />
      <div class="blog-container">
        <slot />
      </div>
    </main>
    <Footer />
  </body>
</html>

