
<div class="boxes-saturation">
  <ul class="saturation-list">
    <li>
      <ul class="lightness-list">
        <li class="box-red-10">red 1</li>
        <li class="box-red-20">red 2</li>

      </ul>
    </li>
    <li>
      <ul class="lightness-list">
        <li>red 1</li>
        <li>red 2</li>
      </ul>
    </li>
    <li>
      <ul class="lightness-list">
        <li>red 1</li>
        <li>red 2</li>
      </ul>
    </li>
  </ul>
</div>