@use 'sass:math';
// Breakponts
$mq-breakpoints: (
  mobile: 320px,
  tablet: 740px,
  desktop: 980px,
  wide: 1300px,
);

$main-container-width: 80em;

$color-base-grey: hsl(229, 0%, 55%);
$color-base-white: hsl(342, 70%, 100%);
$color-base-black: hsl(0, 0%, 19%);
$color-base-red: hsl(325, 100%, 45%);
$color-base-blue: hsl(222, 100%, 45%);

:root {
  --red-hue: 325;
  --blue-hue: 219;
  --yellow-hue: 40;
  --gray-hue: var(--blue-hue);
}

// Color palette
$black-color: hsl(var(--blue-hue), 20%, 10%);
$white-color: hsl(var(--blue-hue), 20%, 99%);

$colors: red, blue, yellow, gray;
$lightnesses: 10, 20, 30, 40, 45, 50, 55, 60, 70, 80, 90, 95;
$saturations: 10, 20, 30, 40, 50, 60, 70, 80, 90;

$palettes: (
  red: (
    hue: var(--red-hue),
    saturation: 1,
  ),
  blue: (
    hue: var(--blue-hue),
    saturation: 0.5,
  ),
  yellow: (
    hue: var(--yellow-hue),
    saturation: 1,
  ),
  gray: (
    hue: var(--gray-hue),
    saturation: 0.1,
  ),
);

// Core Variables - Large Screens
$base-font-size: 112.5 !default; // 18px in % of 16px
$ratio: 1.5 !default;
$line-height: 1.6 !default;
$font-family-body: 'Lora', serif !default;
$font-family-heading: 'Playfair Display', serif !default;

// Core Variables - Mobile Screens
$mobile-base-font-size: 100 !default;
$mobile-line-height: 1.55 !default;

// Headings (font-size from scale, line-height, margin-top, margin-bottom)
$headings: (
  h1: (
    2,
    2.5,
    3,
    1,
  ),
  h2: (
    1,
    2,
    2,
    1,
  ),
  h3: (
    0,
    1.5,
    1,
    0,
  ),
  h4: (
    0,
    1,
    1,
    0,
  ),
  h5: (
    0,
    1,
    1,
    0,
  ),
  h6: (
    0,
    1,
    1,
    0,
  ),
);

// Computed variables
$base: 16 * (math.div($base-font-size, 100));
// $mobile-base: 16 * ($mobile-base-font-size / 100);
$leading: $base * $line-height;

$font-base: clamp(ms(1), 0.46vw + 0.9rem, 5rem);
